<tr>
	<td class="title"><%= product.title %></td>
  	<td class="des"><%= product.description %></td>
  
	<td class="rd"><%= product.release_date %></td>
	  
	<td class="rd"><%= product.genre %></td>
	  
	<td class="rd"><%= link_to "View Product", @products, class: "btn btn-medium btn btn-info" %></td>
	  	
</tr>