<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Create news",    root_path %></li>
          <li><%= link_to "Add product",    link_path %></li>
          <li><%= link_to "Recruit", recruit_path %></li>
          <% if signed_in? %>
            <li><%= link_to "Users", '#' %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>

	<div class="navbar">
  			<div class="navbar-top offset2 ">
  				<div class="container">
				<ul class="nav">
					<li><a class="brand" href="#">Michey's Grand Adventure</a></li>
					
					<li><%= link_to "Products",    '#' %></li>
					<li><%= link_to "Shop",    '#' %></li>
					<li><%= link_to "Link",    link_path %></li>
					<li><%= link_to "Recruit", recruit_path %></li>  			
				</ul>
    			</div>
    		</div>    	
    </div>
    
    <div class="container">  
		<div class="row">  
			<div class="span">  
				<ul class="breadcrumb">  
					<%= breadcrumbs %>
				</ul>
			</div>
		</div>
	</div>
    <br>	