<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "sample app", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Home",    root_path %></li>
          <li><%= link_to "Link",    link_path %></li>
          <li><%= link_to "Recruit", recruit_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

	<div class="navbar">
  			<div class="navbar-top offset2 ">
  				<div class="container">
				<ul class="nav">
					<li><a class="brand" href="#">Michey's Grand Adventure</a></li>
					<li><a href="#">Products</a></li>
					<li><%= link_to "Link",    link_path %></li>
					<li><%= link_to "Recruit", recruit_path %></li>  			
				</ul>
    			</div>
    		</div>    	
    </div>
    <br>	